.header-wrapper {
    background-color: #f8f9fa; /* light background like your screenshot */
  }
  
  .nav-link-item {
    color: #000;
    font-weight: 500;
    text-decoration: none;
  }
  

  
  .nav-row {
    border-top: 1px solid #dee2e6;
  }
  